body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.main-container {
    background-color: white;
    border: 10px solid #007BFF;
    padding: 20px; 
    margin: 20px auto; 
    width: 90%; 
    max-width: 1200px;
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}

div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
    color: #555;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 2px solid #007BFF;
    outline: none;
}

button {
    background-color: #5b9bd5;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4a8ac3;
}

.flash-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.flash-message p {
    margin: 0;
}

p {
    text-align: center;
}

p a {
    color: #5b9bd5;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

.footer-container {
    background-color: #fff;
    border-top: 4px solid #007BFF; 
    padding: 20px;
    text-align: center;
}

.password-requirements {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #555;
    font-style: italic;
}