  <main>
    <section>
      <p>
        <strong>Oops!</strong> Something went sideways:
      </p>
      <p><%= message %></p>
      <p>But hey, let's not panic! Maybe try <a href="/">going back home</a>?</p>

      <img src="https://media.giphy.com/media/3o7abKhOpu0NwenH3O/giphy.gif" alt="Funny error GIF" width="300">
    </section>
  </main>